@charset "UTF-8";

@font-face {
  font-family: 'Antwerpen Regular';
  src: url("/fonts/Antwerpen Regular.eot?2d641d17203c8c0347ec20cf73ae28ca");
  src: local("\263A"), url("/fonts/Antwerpen Regular.woff?3331b26e7c6a29930cadc531277705dd") format("woff"), url("/fonts/Antwerpen Regular.ttf?7b19eba3453706744cb4ae98bdde64f8") format("truetype"), url("/fonts/Antwerpen Regular.svg?1de0bdf11ca8b9f2e6fa3f0ce7de4ba0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antwerpen SmallCaps';
  src: url("/fonts/Antwerpen SmallCaps.eot?62bd6b432f19685c58167d999d3215d7");
  src: local("\263A"), url("/fonts/Antwerpen SmallCaps.woff?dc2b4561912c00d726dc0ddc1f963d20") format("woff"), url("/fonts/Antwerpen SmallCaps.ttf?75ed83407bd61dd93670c8911ead9c98") format("truetype"), url("/fonts/Antwerpen SmallCaps.svg?e59e740e9d0a21e5200897378faf5e91") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Antwerpen Tall';
  src: url("/fonts/Antwerpen Tall.eot?07a941552ac8f964b4ff553e35a339ab");
  src: local("\263A"), url("/fonts/Antwerpen Tall.woff?36e2d14d0adcfee183cc44a7e737396a") format("woff"), url("/fonts/Antwerpen Tall.ttf?676b9232b2a8adee5ed9f27b5a247849") format("truetype"), url("/fonts/Antwerpen Tall.svg?7249b7a1fdf25793ac6308ac09650a43") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Antwerpen Regular";
}

