body {
    position: relative;
}
.header {
    background-color: darkgray;
    height: 250px;
    width: 100%;
}
.a-logo {
    widows: 96px;
    height: 96px;
}
.n-button {
    display: inline-block !important;
}
.delete-btn {
    border:none;
    background-color: unset;
    padding:0;
    cursor: pointer;
}