@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "fonts";
@import "~bootstrap/scss/bootstrap";

body {
  font-family: latomedium ;
  position: relative;
  overflow-y: scroll;
}
.header {
  background-position: center;
  background-size: cover;
  background-color: darkgray;
  height: 320px;
  width: 100%;
}
.a-logo {
  width: 96px;
  height: 96px;
}
.n-button {
  display: inline-block !important;
}

.delete-btn {
  border:none;
  background-color: unset;
  padding:0;
  cursor: pointer;
}
h1 {
  margin:20px 0;
}
.btn-link {
  color:black;
  line-height: 0;
}
.btn-link:hover {
  text-decoration: none;
}
.table-span {
  font-size: 1.5rem;
}
.collapse-wrapper {
  padding-top: 15px;
}
.border-unset {
  border: unset !important;
}
.info-icon {
  opacity: 0.1;
}
.info-icon:hover {
  opacity: 1;
}
.context-inner{
  margin: 0 auto;
  padding: 10px;
}
.u-bg-black{
  color: #fff;
}
.u-bg-light{
  background-color: #4a5157;
  color: #fff;
}
.u-bg{
  background-color: #737e88;
  color: #fff;
}
@media (min-width: 480px) {
  .context-inner{
    width: 80%;
  }
}
.neg-p-15{
  margin-left: -0.5rem;
}
.home-img{
  width: 100%;
  height: auto;
}
.gallery-wrapper {
  height: 100px;
  width: auto;
  display: inline-block;
}
.gallery-label {
  width: 100%;
  height: 100%;
}
.gallery-image {
  width: auto;
  height: 100%;
}
.gallery-radio {
  -moz-appearance: checkbox;
  -ms-progress-appearance: ring;
  -webkit-appearance: radio;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.admin-actions {
  top: 0;
  left: 0;
}
.home-block .adminButton, .wrapper .adminButton, .video-wrapper .adminButton, .home-block .adminButton, .delete-image-btn, main .admin-actions, .header .admin-actions {
  visibility: hidden;
}
.home-block:hover .adminButton, .wrapper:hover .adminButton, .video-wrapper:hover .adminButton, .home-block:hover .adminButton, .gallery-wrapper:hover .delete-image-btn, main:hover .admin-actions, .header:hover .admin-actions {
  visibility: visible;
}
.header:hover .a-logo-util {
  visibility: hidden;
}
main {
  box-sizing: border-box;
  overflow-y: hidden;
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 376px - 102px);
  }
  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 376px - 78px);
  }
}
.home-block {
  overflow: hidden;
  a{
    color: #b4daff;
  }
}
.order-input {
  max-width: 50px;
}
.admin-dropdown-item {
  cursor: pointer;
  color: white !important;
}
.admin-dropdown-item:hover {
  background-color: $gray-700;
}
.home-block-option {
  cursor: pointer;
}
.home-block-option:hover {
  text-decoration: underline;
}
.bg-red {
  background-color: #d0003a;
}
.color-input {
  width: 60px;
  height: 50px;
}
.count {
  font-size: 15rem;
  line-height: 15rem;
  @include media-breakpoint-down(md) {
    font-size: 12rem;
    line-height: 12rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 10rem;
    line-height: 10rem;
  }
}
.count-btn {
  font-size: 2rem;
}
.ingatregular {
  font-family: ingatregular;
}
.kiddishmedium {
  font-family: kiddishmedium;
}
.homeblock-text p, .homeblock-text h1, .homeblock-text h2 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.homeblock-title {
  font-size: 3rem;
  line-height: 3rem;
}
footer {
  background-color: black;
  position: relative;
  color: white;
  text-align: center;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
    line-height: 3rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

}
#footer-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background-color: #d0003a;
  border: none;
  @include media-breakpoint-down(md) {
    width: 75px;
  }
  &:hover{
    cursor: pointer;
  }
}
.footer-icon {
  height: 40px;
  @include media-breakpoint-down(sm) {
    height: 30px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $gray-800;
}

.border-black {
  border: 1px solid black;
}
#dropdown {
  @include media-breakpoint-down(md) {
    position: absolute;
  }
}
.color-white {
  color: white;
  &:hover {
    color: white;
  }
}
.carousel-inner {
  border-left: 3px solid #d0003a;
  padding: 0 0 0 20px;
}