@font-face {
  font-family: 'Antwerpen Regular';
  src: url('../fonts/Antwerpen Regular.eot');
  src: local('☺'), url('../fonts/Antwerpen Regular.woff') format('woff'), url('../fonts/Antwerpen Regular.ttf') format('truetype'), url('../fonts/Antwerpen Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Antwerpen SmallCaps';
  src: url('../fonts/Antwerpen SmallCaps.eot');
  src: local('☺'), url('../fonts/Antwerpen SmallCaps.woff') format('woff'), url('../fonts/Antwerpen SmallCaps.ttf') format('truetype'), url('../fonts/Antwerpen SmallCaps.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Antwerpen Tall';
  src: url('../fonts/Antwerpen Tall.eot');
  src: local('☺'), url('../fonts/Antwerpen Tall.woff') format('woff'), url('../fonts/Antwerpen Tall.ttf') format('truetype'), url('../fonts/Antwerpen Tall.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}