@font-face {
  font-family: 'kiddishmedium';
  src: url('../fonts/kiddish-webfont.eot');
  src: url('../fonts/kiddish-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kiddish-webfont.woff2') format('woff2'),
  url('../fonts/kiddish-webfont.woff') format('woff'),
  url('../fonts/kiddish-webfont.ttf') format('truetype'),
  url('../fonts/kiddish-webfont.svg#kiddishmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}